@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-system: 'Inter', 'Outfit', -apple-system, blinkmacsystemfont, segoe ui,
    roboto, oxygen, ubuntu, cantarell, fira sans, droid sans, helvetica neue,
    sans-serif;
  --inspect-color: #f00;
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #0f0f0f;
  --color-gray-lighter: #262626;
}

html {
  font-family: sohne;

  line-height: 1.5;
  box-sizing: border-box;
  text-rendering: geometricprecision;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: dark;
  background-color: black;
}

body {
  letter-spacing: 0.03rem;
  color: #d1d5db;
}

body.inspect * {
  outline: 1px solid var(--inspect-color) !important;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

.active .nav-indicator {
  @apply bg-gray-200 w-16;
}

.active .nav-text {
  @apply text-gray-200;
}

@font-face {
  font-family: 'Sohne';
  src: url('/sohne.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sohne';
  src: url('/sohne-italic.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}
